root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 3
trim_trailing_whitespace = true
spaces_around_operators = false
editor.formatOnSave = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2
