.star {
   width: 12px !important;
}

.checked {
   color: orange;
}

.font_size_13 {
   font-size: 13px;
}

.font_size_16 {
   font-size: 16px;
}

.font_size_22 {
   font-size: 22px;
}


.invalid_feedback{
   color: #ff3d5e;
   font-size: 12px;
   padding-left: 10px;
}