.page_link{
   position: relative;
   display: block;
   padding: 0.5rem 0.75rem;
   margin-left: -1px;
   line-height: 1.25;
   background-color: #fff !important;
   border: 1px solid #dee2e6;
   border-top-color: rgb(222, 226, 230);
   border-right-color: rgb(222, 226, 230);
   border-bottom-color: rgb(222, 226, 230);
   border-left-color: rgb(222, 226, 230);
   color: #25aae1 !important;
   &:active{
      z-index: 3;
      color: #fff;
      background-color: #25aae1;
      border-color: #dee2e6;
   }
   &:hover{
      z-index: 2 !important;
      color: #167aa3 !important;
      text-decoration: none;
      background-color: #e9ecef !important;
      border-color: #dee2e6 !important;
   }
}
@media screen and (max-width: 500px){
   .page_link{
      padding: 0.2rem 0.5rem;
      font-size: 13px;
   }
}
.active_page a{
   color: #fff !important;
   background-color: #25aae1 !important;
   border-color: #dee2e6 !important;
}