.section_title {
  text-align: center;
  color: #444;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.link{
   color: #25aae1 !important;
   cursor: pointer !important;

   &:hover{
      text-decoration: none;
   }
}

.pin_container {
    margin: 0;
    padding: 0;
    width: 80vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
}

.card {
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    border: 1px solid #444;
   //  background-color: red;

   .PopDestImg {
      width: 100%;
      border-radius: var(--card_border_radius);
      max-height: 100%;
   }
}

.card_small {
   grid-row-end: span var(--card_small);
}

.card_medium {
   grid-row-end: span var(--card_medium);
}

.card_large {
   grid-row-end: span var(--card_large);
}
