.form_control {
    color: #9f9f9f;
    font-size: 13px !important;
    background-color: transparent !important;
    color: #fff !important;
    font-weight: 600 !important;
    border-color: 9f9f9f;
    // border-bottom: 1px solid #8c8c8c !important;
    height:32px;
    /* border-bottom: 1px solid #8c8c8c; */
}

.font_size_13 {
    font-size: 13px;
}